<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ustc.mapper.CollectMapper">

    <resultMap id="BaseResultMap" type="org.ustc.pojo.Collect">
            <id property="stuId" column="stu_id" jdbcType="INTEGER"/>
            <id property="schoolId" column="school_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        stu_id,school_id
    </sql>
</mapper>
