<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ustc.mapper.UniversityinfoMapper">

    <resultMap id="BaseResultMap" type="org.ustc.pojo.Universityinfo">
            <id property="schoolId" column="school_id" jdbcType="INTEGER"/>
            <result property="schoolName" column="school_name" jdbcType="VARCHAR"/>
            <result property="academy" column="academy" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="ranking" column="ranking" jdbcType="INTEGER"/>
            <result property="cost" column="cost" jdbcType="DECIMAL"/>
            <result property="avgScore" column="avg_score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        school_id,school_name,academy,
        major,country,city,
        ranking,cost,avg_score
    </sql>
</mapper>
